{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us: Data For Good - Chicago </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Data For Good - Chicago</div>
            <ul class="nav-links">
                <li><a href="{% url 'aboutus' %}">About Us</a></li>
                <li><a href="{% url 'dataandvisualize' %}">Data & Visualize</a></li>
                <li><a href="{% url 'resources' %}">Resource</a></li>
            </ul>
        </nav>
       </header>
    <section class="hero">
        <h1>Data Exploration. Data Analysis. Data Visualization.</h1>
        <p>DataForGood Chicago empowers nonprofits and researchers with data-driven insights for informed decision-making and impactful community change</p>
        <a href="{% url 'dataandvisualize' %}" class="explore-button">EXPLORE DATA</a>
    </section>
    <footer>
        <p>Copyright © 2024 Data For Good - Chicago. All rights reserved.</p>
    </footer>
</body>
</html>
