<!DOCTYPE html>
<html>
<head>
    <title>City Resources</title>
    <style>
        .arcgis-app-container {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
        }

        .arcgis-app-container iframe {
            position: relative;
            top: 0;
            left: 0;
            width: 80%;
            height: 80%;
        }
    </style>
</head>
<body>
    <div class="arcgis-app-container">
        <iframe src="https://experience.arcgis.com/experience/3d6a0f98803b4739ae76c673fface4bb/" width="100%" height="600"></iframe>
    </div>
</body>
</html>
