.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.explore-button:hover {
    background-color: #45a049; 
}
