/* Reset margins and paddings for consistency */

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1; /* This allows the content wrapper to grow and occupy any available space */
}

html, body {
    height: 100%; /* Ensures the full height of the viewport is used */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
}

header {
    background-color: #004080; /* Dark blue, more professional than plain black */
    color: #fff;
    padding: 20px; /* Uniform padding */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow under header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    padding: 0; /* No vertical padding needed here */
    display: block; /* Changed from inline-block for cleaner alignment */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 10px 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    display: block;
}

.nav-links a:hover, .nav-links a:focus {
    background-color: #0056b3; /* Slightly lighter blue for hover/focus */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.hero {
    position: relative;
    color: #fff; /* Assuming a dark background image */
    text-align: center;
    padding: 60px 120px;
    background-image: url('{% images "bg.jpg" %}'); /* Update with the path to your image */
    background-color: #0b498d;  /* Cover ensures the background covers the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

/* Section styling for Data Exploration, Analysis, Visualization */
.section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff; /* White background for sections */
    margin: 20px;
    border-radius: 8px; /* Rounded corners for section */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section h2 {
    color: #333;
    font-size: 1.8rem;
}

.hero p {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 10px;
}

.content-wrapper {
    flex: 1; /* Allows the content wrapper to expand to fill available space */
    display: flex;
    flex-direction: column; 
}

footer {
    /* Ensure footer has its specific styles, it should naturally stick to the bottom now */
    background-color: #004080; /* Example background color */
    color: #fff; /* Example text color */
    text-align: center; /* Centers the text within the footer */
    padding: 20px 0; /* Padding for aesthetic spacing */
}

/* Enhancements for better layout and readability */
h1, h3 {
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 20px;
    font-size: 2.5rem; /* Larger for main titles */
}

main {
    flex: 1
}

h3 {
    font-size: 1.5rem;
    color: #555; /* Darker grey for sub-headers */
    margin-top: 30px; /* More space above sub-headers */
}

.table1, .table2 {
    width: 100%; /* Full width tables for better utilization of space */
    margin: 20px 0;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Consistent shadow for all tables */
}

td, th {
    border: 1px solid #ddd; /* Light grey border for readability */
    padding: 8px; /* Adequate padding */
    text-align: left; /* Left align text in tables for better readability */
}

.query-form {
    background: #ffffff; /* White background for forms */
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 20px; /* Consistent margin */
}

input[type=submit] {
    background-color: #004080; /* Same as header for consistency */
    padding: 10px 15px;
    font-size: 1rem;
}

input[type=submit]:hover {
    background-color: #0056b3; /* Lighter blue for hover */
}
