/* General styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.8;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    font-family: "Bebas Neue", sans-serif;
}

/* Hero section styles */

.hero {
    color: #fff;
    text-align: center;
    padding: 5rem 2rem;
}

.hero-content {
    color: #0C4180;
    max-width: 600px;
    margin: auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.explore-button {
    background-color: #0C4180;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.explore-button:hover {
    background-color: #003d80;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0C4180;
    color: #fff;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
}

.navbar .logo a {
    color: #fff !important;
    text-decoration: none !important;
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 2rem !important;
}
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar .nav-links li {
    margin: 0;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    transition: all 0.3s;
}

.navbar .nav-links a:hover {
    /*text-decoration: underline;*/
    color: #333333;
}

/* Section styles */
section {
    padding: 2rem;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

section ul {
    list-style: none;
    padding: 0;
}

/* Footer styles */
footer {
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    padding: 1rem 2rem;
    border-top: 1px solid #eaeaea;
}

footer p {
    margin: 0;
}

/* data & viz */

.scrollable-checkbox-list {
    max-height: 250px; /* Set the desired maximum height */
    overflow-y: auto;  /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 20px 5px; /* Optional: Add padding for better spacing */
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    transition: all 0.3s;
    font-family: "Commissioner", sans-serif;
}
.scrollable-checkbox-list:hover{
    background: #0C4180;
    color: white;
}

.scrollable-checkbox-list input[type="checkbox"] {
    margin-right: 5px; /* Optional: Add some space between checkboxes and labels */
}

.query-form {
    font-size: 15px;
    flex: 1; /* Takes 1/3 of the screen */
    width: 100%;
    margin: 0 auto;
     /* Ensure the container only takes up as much space as needed */
    text-align: center;/* Optional: Add a border for separation */
}

.query-form p {
    font-size: 18px;
}


.query-form h4 {
    font-size: 20px;
}

.maintable {
    margin: 0 auto;
    width: 100%; /* Ensure the container only takes up as much space as needed */
    padding: 20px;
    text-align: center;
}

.maintable h3{
    font-size: 2rem;
}

.chart-container {
    font-size: 50rem;
    margin-right: 100px;
    width: 100%;
    height: 600px; /* Ensure the container only takes up as much space as needed */
    padding: 0;
    text-align: center;
    max-width: 500px;
}

.map-container {
    font-size: 2rem;
    margin: 10px 0;
    width: 100%; /* Ensure the container only takes up as much space as needed */
    padding: 0;
    text-align: center;
}

.iframe-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 450px; /* Ensure the container only takes up as much space as needed */
    padding: 0;
    text-align: center;
}

.subtable {
    margin: 0 auto;
    width: 100%; /* Ensure the container only takes up as much space as needed */
    padding: 20px;
    text-align: center;
}

.subtable-chart-container {
    font-size: 50rem;
    margin: 20px;
    width: 100%; /* Ensure the container only takes up as much space as needed */
    padding: 0;
    text-align: center;
}

/* .hidden {
    display: none;
} */

.arcgis-app-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
}

.arcgis-app-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1.city-title {
    text-align: center;
    margin: 20px 0; /* Adjust margin as necessary */
}

.div {
    margin: 20px;
    width: 100%; /* Ensure the container only takes up as much space as needed */
    padding: 0;
    text-align: center;
}
.content_con{
    width: 100%;
    margin: auto;
    background: #eee;
}

table{

}
button{
    background: #F7F7F7;
    padding: 15px 40px;
    color: #0C4180;
    border: 2px solid #003d80;
    transition: all 0.3s;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background-color: #0C4180;
    color:#F7F7F7
}
input[type=submit]{
    background: #003d80;
    padding: 15px 40px;
    color: white;
    border: none;
    transition: all 0.3s;
    border-radius: 100px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
}
.h3_title{
    text-align: left;
}

p{
    font-family: "Commissioner", sans-serif;
    margin-top: 10px;
}
.con1{
    background: white;
}
.con1>div{
    width: 1280px;
    margin: auto;
    padding: 3vw 0;
}
.con2{
    padding: 3vw 0;
    background: #F8F8F8;
}
.con2>div{
    width: 1280px;
    margin: auto;
}
.con3{
    padding: 3vw 0;
    background: white;
}
.con3>div{
    width: 1280px;
    margin: auto;
}
footer{
    width: 100%;
    text-align: left;
    color: white;
    background: #0C4180;
    font-family: "Commissioner", sans-serif;
}

h2{
    text-align: left;
}

select{
    height: 40px;
    width: 400px;
    border: 2px solid #0C4180;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    background: white;
    font-family: "Commissioner", sans-serif;
}
#search-input{
    height: 40px;
    width: 200px;
    border: 2px solid #0C4180;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    background: white;
    font-family: "Commissioner", sans-serif;
}
#search-container{
    margin: 15px auto;
}
.sm_title{
    font-family: "Bebas Neue", sans-serif;
}

.feature>li{
    font-family: "Commissioner", sans-serif;}

.form-control{
    width: 200px !important;
    display: block;
    margin: auto;
}

section ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.features ul li {
    font-family: "Commissioner", sans-serif;
    font-weight: 300;
}

.team ul li {
    font-family: "Commissioner", sans-serif;
    font-weight: 300;
}

.team ul li strong {
    font-weight: bold;
}

.community-list {
    text-transform: capitalize;
}

.table2 {
    margin: 20px 0;
    width: 100%;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
}

.table2 th,
.table2 td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.table2 th {
    background-color: white;
    text-align: center;
}

.table2 caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.table1 {
    margin: 20px 0;
    width: 100%;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
}

.table1 th,
.table1 td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

.table1 th {
    background-color: white;
    text-align: center;
}
